* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}

h1 {
    margin: 50px 0;
    color: white;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 8rem;
    height: 8rem;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.fizz-buzz {
    background: linear-gradient(90deg, #ff3cac, #784ba0, #2b86c5);
    background-size: 600% 600%;

    animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



.fizz {
    background: linear-gradient(90deg, #ff3cac, #784ba0);
    background-size: 400% 400%;

    animation: fizz 2s ease infinite;
}

@keyframes fizz {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.buzz {
    background: linear-gradient(90deg, #784ba0, #2b86c5);
    background-size: 400% 400%;

    animation: buzz 2s ease infinite;
}

@keyframes buzz {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.number {
    background: linear-gradient(90deg, #760817, #9e0c21);
    background-size: 400% 400%;

    animation: number 2s ease infinite;
}

@keyframes number {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}